node_modules/
dist/
.env
.DS_Store
coverage/
.idea/
.vscode/
*.log
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
ios/Pods/
android/.gradle/
services/api/node_modules/
services/api/dist/
apps/mobile/pantiku_app/.dart_tool/
apps/mobile/pantiku_app/build/
